body {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/seigaiha.png);
    background-repeat: repeat;
    background-size: 20%;
}
h1,h2,h3,h4,h5 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px;
}
hr {
    border: 1px solid #909090;
}
p {
    padding: 16px;
}
/* class to set display:flex */
.d-f {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
header {
    position: relative;
    height: 120px;
    background-color: #fff;
    border-bottom: 5px solid #eee;
}
/* content wrapper for header elements */
.header-wrapper {
    width: 960px;
    margin: 0 auto;
}
/* brand div - for my name in header */
.brand {
    background-color: #4aaaa5;
    display: inline-flex;
    padding: 24px;
    float: left;
    position: absolute;
    bottom: 0;

}
/* my name */
#brand-name {
    color: #fff;
}
nav {
    display: inline-flex;
    align-items: center;
    height: 100%;
    float: right;
}
/* for li tags in nav */
.nav-link {
    display: inline-block;
    padding: 10px 16px;
}
/* for a tags in nav */
.nav-link a {
    color: #888;
    text-decoration: none;
}
.nav-link a:hover {
    color: #333;
}
/* wrapper for all content in body (not header, not footer) */
.content {
    width: 960px;
    margin: 48px auto;
    flex: 1;
}
.content h1, h2 {
    color: #4aaaa5;
}
/* first content section (about me, portfolio, contact form) */
.main-section {
    background-color: #fff;
    /*float: left;*/
    width: 650px;
    padding: 16px;
    margin-right: 16px;
    border: 3px solid #4aaaa5;
}
/* heading in main content section */
.main-heading {
    padding: 8px;
}
/* image of me on about page */
#profile-pic {
    display: block;
    width: 30%;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #4aaaa5;
}
/* div that wraps 2 p tags */
.about-me-text {
    flex-direction: row;
}
/* container for all projects */
.project-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* container for contents of each individual project */
.project {
    width: 46%;
    margin: 8px;
    box-shadow: 3px 3px 8px #888888;
    position: relative;
}
/* project's image */
.project-img {
    display: block;
    width: 100%;
}
/*project's caption bg element*/
.project-caption {
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-color: #4aaaa5;
    padding: 16px 0px;
}
/*project's caption*/
.project-caption h2 {
    color: #fff;
    text-align: center;
}
.form-label {
    color: #777777;
}
.contact-form input, .contact-form textarea {
    margin: 8px 0px;
    padding: 8px 0px;
}
.submit-btn {
    background-color: #4aaaa5;
    border: none;
    padding: 12px;
}
.submit-btn span {
    color: #fff;
    font-size: 14px;
}
.connect-with-me {
    background-color: #fff;
    width: 270px;
    padding: 16px;
    max-height: 100px;
    border: 3px solid #4aaaa5;
}
.connect-with-me h2 {
    padding: 8px;
    text-align: center;
}
/*container for social icons*/
.social-icons {
    align-items: center;
    justify-content: center;
}
.social-icon {
    display: block;
    width: 50%;
    margin: 0 auto;
}
footer {
    height: 120px;
    background-color: #666;
    border-top: 5px solid #4aaaa5;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/*medium displays*/
@media screen and (max-width: 980px) {
    header {
        height: 90px;
    }
    .header-wrapper {
        width: 768px;
    }
    .brand {
        justify-content: center;
        align-items: center;
        padding: 0px 24px;
        float: left;
        position: static;
        height: 100%;
    }
    /*shrink content width*/
    .content {
        width: 768px;
    }
    /* change direction from row to column */
    .about-me-text {
        flex-direction: column;
    }
    /*increase profile pic size*/
    #profile-pic {
        width: 50%;
    }
    /****** PORTFOLIO PAGE ******/
    .project-container {
        flex-direction: column;
        align-items: center;
    }
    .project {
        width: 100%;
        margin: 10px;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-size: 40%;
    }
    .content {
        width: 95%;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .main-section {
        width: 90%;
        /*padding: 0px;*/
        margin: 0 auto;
    }
    .connect-with-me {
        background-color: #fff;
        width: 90%;
        margin: 10px auto;
        max-height: 200px;
        border: 3px solid #4aaaa5;
    }
    .social-icons {
        justify-content: space-between;
    }
    .social-icon {
        width: 70%;
    }

    /****** PORTFOLIO PAGE ******/
    .project-container {
        flex-flow: row wrap;
        align-items: center;
    }
    .project {
        width: 45%;
        margin: 10px;
    }
}

@media screen and (max-width: 640px) {
    header {
        height: 180px;
    }
    .brand {
        width: 100%;
        height: 70%;
        padding: 0px;
    }
    nav {
        display: flex;
        width: 100%;
        height: 30%;
        float: none;
        justify-content: center;
    }
    /****** PORTFOLIO PAGE ******/
    .project-container {
        flex-flow: column wrap;
        align-items: center;
    }
    .project {
        width: 100%;
        margin: 10px;
    }
}
